
.cabeçalho-menu-hamburguer{
    width:24px;
    height: 24px;
    background-image: url(../imagem/menu.svg.png);
    display: inline-block;
}
.cabeçalho(
    background-color: ;
)
.div-1{
    display: flex;
justify-content:space-around;
}
    

